---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/images/buenosaires.jpg');">
  <div class="banner-content">
    <h1>Jascha Drel</h1>
    <p>Nice picture in the background</p>
    <a href="https://github.com/Jdrel" class="btn btn-primary btn-lg">Just click</a>
  </div>
</div>

<div class="container">
  <div class="row">
   <% data.interests.each do |card, item| %>
   <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= item.img %>');">
      <div class="card-category"><%= item.title %></div>
      <div class="card-description">
        <h2><%= item.desc %></h2>
        <p> rating: <%= item.rating %></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jdrel">
      <a class="card-link" href="/interests/<%= card %>.html" ></a>
    </div>
  </div>
  <% end%>
</div>
</div>
